<html>
  <head>
	<meta charset="utf-8">
    <title>BioApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable1);
	  google.charts.setOnLoadCallback(drawTable2);

      function drawTable1() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Protein');
        data.addColumn('number', 'Interactors');
        data.addRows([
			['FN1', 1228],
			['ACTB', 1104],
			['HSPA8', 825],
			['ALB', 746],
			['HSPA5', 720],
			['F2', 656],
			['TBP', 650],
			['KNG1', 597],
			['HSPB1', 571],
			['AGT', 512],
			['C3', 476],
			['TF', 472],
			['APOE', 444],
			['SAA1', 442],
			['APOB', 441],
			['FLNA', 426],
			['PLG', 423],
			['AMBP', 408],
			['APOA1', 389],
			['VWF', 381],
			['A2M', 380],
			['LPAR2', 370],
			['CLU', 369],
			['KRT1', 366],
			['PPBP', 356],
			['MYH9', 350],
			['FGA', 345],
			['IGKC', 333],
			['C5', 331],
			['GSN', 331],
			['JUP', 328],
			['TTR', 326],
			['IGHG1', 325],
			['CALML5', 324],
			['SPTBN2', 318],
			['AHSG', 305],
			['IGF2', 304],
			['FGB', 303],
			['KRT5', 295],
			['PDIA3', 292],
			['ENO1', 288],
			['TTN', 287],
			['BRCC3', 282],
			['APOA2', 281],
			['FBXO15', 281],
			['SERPINA1', 277],
			['DHX15', 270],
			['VTN', 270],
			['HSP90B1', 265],
			['APOC3', 264],
			['TLN1', 260],
			['KRT9', 257],
			['KRT10', 253],
			['KRT14', 251],
			['SERPING1', 250],
			['KRT16', 247],
			['HP', 247],
			['PKM', 243],
			['CFD', 242],
			['CFL1', 234],
			['LDHA', 233],
			['CFH', 229],
			['CCP110', 225],
			['FGG', 211],
			['ITIH4', 211],
			['KRT6A', 207],
			['HPX', 201],
			['HBB', 201],
			['LYZ', 199],
			['APOA4', 196],
			['C4A', 194],
			['MSN', 192],
			['ACTN1', 189],
			['F5', 189],
			['S100A9', 189],
			['CFB', 188],
			['PROS1', 187],
			['C4B', 187],
			['DCD', 181],
			['APOH', 178],
			['DSP', 177],
			['APOC1', 177],
			['SERPINC1', 172],
			['CST3', 169],
			['PGK1', 166],
			['IGHV3-11', 164],
			['IGHV1-69', 164],
			['TAGLN2', 162],
			['HSPG2', 162],
			['IGLC3', 162],
			['IGFBP3', 161],
			['LGALS3BP', 159],
			['CP', 155],
			['ITIH1', 153],
			['IGHG2', 150],
			['IGHM', 146],
			['IGFALS', 146],
			['SERPINA4', 145],
			['C1S', 143],
			['PRDX2', 143],
			['SHBG', 140],
			['GBA', 138],
			['C1R', 134],
			['SERPINA3', 134],
			['C2', 133],
			['SERPINF2', 132],
			['HP1BP3', 131],
			['IGLV3-27', 128],
			['CPN2', 128],
			['PF4V1', 128],
			['IGLV1-47', 128],
			['IGLV3-21', 128],
			['IGLV1-51', 128],
			['PON1', 127],
			['F13A1', 127],
			['ORM1', 126],
			['FBLN1', 126],
			['IGKV3-20', 126],
			['HRG', 126],
			['IGKV4-1', 125],
			['IGKV3-11', 125],
			['IGKV1-5', 125],
			['IGKV3-15', 125],
			['A1BG', 124],
			['PFN1', 120],
			['MASP1', 120],
			['GPX3', 119],
			['ECM1', 117],
			['AGXT2', 116],
			['HBD', 115],
			['DEFA1', 112],
			['QSOX1', 110],
			['MASP2', 109],
			['APCS', 109],
			['ORM2', 109],
			['FCN2', 107],
			['F10', 107],
			['C1QA', 103],
			['CAMP', 102],
			['CLEC3B', 99],
			['S100A7', 97],
			['FCN3', 97],
			['FAM110A', 95],
			['ANTXR2', 89],
			['APOD', 88],
			['KRT2', 88],
			['LPA', 88],
			['IGHD', 87],
			['COL6A1', 87],
			['CFP', 86],
			['THBS1', 86],
			['IGHA1', 86],
			['F12', 82],
			['GC', 80],
			['SERPIND1', 76],
			['CPB2', 74],
			['RAP1B', 72],
			['C1QB', 72],
			['KRT17', 72],
			['COL18A1', 68],
			['APOA5', 68],
			['PLTP', 68],
			['C4BPA', 67],
			['PTPRS', 66],
			['KLKB1', 65],
			['CAP1', 64],
			['MST1', 64],
			['C1QC', 62],
			['GAPDHS', 62],
			['DSG1', 61],
			['SERPINA5', 60],
			['CPNE1', 59],
			['ITIH2', 58],
			['F11', 57],
			['CSTA', 56],
			['F9', 55],
			['HBA1;', 55],
			['EFEMP1', 55],
			['LUM', 52],
			['C9', 52],
			['PCOLCE', 50],
			['LBP', 48],
			['HABP2', 48],
			['C6', 47],
			['CLSTN1', 46],
			['THBS4', 45],
			['HPR', 43],
			['C8A', 42],
			['CFI', 42],
			['FERMT3', 40],
			['C4BPB', 40],
			['C8G', 39],
			['HRNR', 39],
			['PRSS1', 39],
			['SHROOM3', 39],
			['TGFBI', 39],
			['AZGP1', 38],
			['CFHR1', 38],
			['APOL1', 38],
			['HGFAC', 38],
			['MCCC2', 35],
			['SERPINF1', 35],
			['SBSN', 35],
			['GRHL1', 34],
			['SERPINA10', 33],
			['RSU1', 33],
			['CFHR5', 32],
			['C8B', 32],
			['PROC', 31],
			['CPN1', 30],
			['APOC4-APOC2', 30],
			['TNC', 30],
			['PAM', 28],
			['GNPTG', 27],
			['APMAP', 26],
			['C7', 26],
			['JCHAIN', 25],
			['IGFBP6', 24],
			['OAF', 24],
			['FLG2', 24],
			['RBP4', 23],
			['CRTAC1', 23],
			['CA1', 23],
			['COMP', 23],
			['SSC5D', 22],
			['IGFBP5', 22],
			['CD5L', 21],
			['APOC4', 20],
			['MGAT1', 20],
			['PZP', 20],
			['BPIFB1', 19],
			['SELENOP', 19],
			['BLVRB', 18],
			['SAA4', 18],
			['PRG4', 17],
			['LTK', 17],
			['CNDP1', 17],
			['AFM', 15],
			['ATRN', 15],
			['CFHR2', 14],
			['COLEC11', 13],
			['GPLD1', 12],
			['RNASE4', 12],
			['MAN1A1', 11],
			['TNXB', 11],
			['PLEK', 10],
			['APOM', 9],
			['SERPINA6', 9],
			['ITIH3', 9],
			['LRG1', 9],
			['CETP', 7],
			['F13B', 7],
			['COL6A3', 7],
			['MELTF', 7],
			['PGLYRP2', 7],
			['LCAT', 6],
			['PLA2G7', 4],
			['APOF', 4],
			['RARRES2', 4],
			['ZNF804A', 4],
			['KRT23', 3],
			['TSKU', 2],
			['PRH1;', 2],
			['TMEM132D', 1],
			['SPP2', 1],
			['ANKAR', 1]
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '50%', height: '50%' , showRowNumber: true,
        page: 'enable',
        pageSize: 15,
        pagingSymbols: {
            prev: 'prev',
            next: 'next'
        },
        pagingButtonsConfiguration: 'auto'});
	
		}
		
		function drawTable2() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Source Database');
        data.addColumn('number', 'Interactors');
        data.addRows([
			['String', 16407],
			['iRefIndex', 10605],
			['HPRD', 6968],
			['BioGRID', 6726]
	    ]);

        var table = new google.visualization.Table(document.getElementById('table_div2'));

        table.draw(data, {showRowNumber: true, width: '25%', height: '25%'});
		}
    </script>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">BioApp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/">About<span class="sr-only">(current)</span></a>
		  </li>	  
		  <li class="nav-item active">
			<a class="nav-link" href="/summary">Data Summary</a>
		  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Detailed Results
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/breast">Breast Cancer</a>
          <a class="dropdown-item" href="/colorectal">Colorectal Cancer</a>
		  <a class="dropdown-item" href="/lung">Lung Cancer</a>
        </div>
      </li>
		  
		</ul>
	  </div>
	</nav>
	<br>
	<div id="table_div"></div>
	<br><br>
	<div id="table_div2"></div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
